@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div style="background-color: #0a58ca; color: white; height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding: 3em;">
    <h2>:(</h2>
    <p>Your website encountered a problem and needs to restart.</p>
    <p>We're just collecting some error info, and then we'll restart for you.</p>

    @if (ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> @RequestId
        </p>
    }
</div>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}