@page "/"

<PageTitle>Home</PageTitle>

<div class="main-container">
    <div class="bg-secondary text-center py-5 shadow">
        <h1 class="display-4 text-white"><i class="bi bi-lightning-charge-fill me-2 text-warning"></i>EventHub Explorer</h1>
        <p class="lead text-white">Effortlessly send, receive, and explore data from your Azure Event Hub streams</p>
    </div>
    <div class="container my-5">
        
        <section>
            <h2 class="text-center mb-4">How to Use It</h2>
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="card bg-primary text-white text-center h-100">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <i class="bi bi-plugin"></i>
                                <h5 class="card-title">1. Connect</h5>
                                <p class="card-text">
                                    Paste your EventHub connection string, EventHub name.
                                    Optional provide storage connection string and container name to track received messages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-primary text-white text-center h-100">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <i class="bi bi-send-fill"></i>
                                <h5 class="card-title">2. Send messages to Event Hub</h5>
                                <p class="card-text">You can send one, multiple messages, or multiple with delay between each message.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-primary text-white text-center h-100">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <i class="bi bi-broadcast"></i>
                                <h5 class="card-title">3. Start Listening</h5>
                                <p class="card-text">Click "Start Receive" to stream data from Event Hub in real time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-primary text-white text-center h-100">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <i class="bi bi-file-earmark-text-fill"></i>
                                <h5 class="card-title">4. Analyze Events</h5>
                                <p class="card-text">Inspect received messages in same place.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
</div>



